
* {
  box-sizing: border-box;
}

.catalog-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 24px;
  height: 500px;
  display: table;
}

.catalog {
  border-collapse: collapse;
  overflow: auto;
  text-align: left;
}

.catalog-header {
  &__label {
  }
}

.catalog-body {
  
}

.product {

  &__label {
  }
}
