<% if resource.errors.any? %>
  <div class="error-explanation">
    <h2>
      Errores:
    </h2>
    <ul class="error-list">
      <% resource.errors.full_messages.each do |message| %>
        <li class="error-list__element"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
