
<div class="registration-container">
  <div class="session-title">¡Comencemos!</div>
  <div class="session-subtitle">
    <h2 class="session-subtitle__text">
      ¿Estás registrado? Inicia sesión <%= link_to "aquí", new_store_session_path, class: "session-link"%><br />
    </h2>
  </div>
  <%= render "session_form", resource: resource, edit: false %>
</div>
