<div class="page-container">
  <div class="action-container">
    <h1 class="call-to-action__title">¡Promociona tus productos!</h1>
    <h2 class="call-to-action__subtitle"> Y aumenta el número de visitas que recibes 🤑💸 </h2>
  </div>
  <div class="payment-description-container">
    <div class="question-container">
      <h1 class="description__title">¿Qué obtengo?</h1>
      <body class="description__body">
        Los productos promocionados tendrán mayor prioridad para ser mostrados por nuestro <span class="highlight-msg">Robot-Recomendador</span>. Además tus productos aparecerán con un sello distintivo 
        que podrán reconocer los usuarios al momento de buscar regalos.
      </body>
    </div>
    <div class="question-container">
      <h1 class="description__title">¿Cómo lo hago?</h1>
      <body class="description__body">
        Haz un abono por el monto que desees, luego marca en el catálogo aquellos productos que quieras promocionar y aumenta el número de usuarios que verán tus productos!
        <br><br>
        Se descontará de tu saldo un monto de $<%= ENV.fetch('CPC')%> pesos por cada click que reciba tu producto mientras se encuentre en promoción.
        <br><br>
        <span class="highlight-msg">Para realizar el abono:</span>
        <br><br>
        <span class="instruction-number">1.</span> Haz una transferencia a:
        <br><br>
        <div class="bank-details">
          Platanus SPA <br>
          Rut 76.191.257-7 <br>
          Banco de Chile <br>
          Cuenta corriente Nº 1642507000 <br>
        </div>
        <br>
        <span class="instruction-number">2.</span> Envía un correo con el nombre de tu tienda y el monto transferido a <span class="highlight-msg">milan@platan.us</span> con el tema <span>"Abono"</span>
        <br><br>
        <div class="ready-msg">¡Listo!</div>
      </body>
    </div>
  </div>
</div>