<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <% resource.errors.messages.each do |key, attribute| %>
      <%= resource.errors.full_messages_for(key).first %><br>
    <% end %>
  </div>
<% end %>
