 
<!DOCTYPE html>
<body>
  
  <div class="header-container"> 
    <div class="header">
      <h1 class="header__title"> Recomendaciones para </h1>
    </div>
  </div>

  <div class="gifts-container">
    <div class="gift">
      <div class="gift__title">Collar para perro</div>
      <img class="gift__image" src="https://images-na.ssl-images-amazon.com/images/I/51b9ZaXrYJL._SX466_.jpg" />
      <div class="gift__like"> hgoasld </div>
    </div>

    <div class="gift gift-promoted">
      <div class="gift__title">Collar para gatos</div>
      <img class="gift__image" src="https://images1.tiendanimal.es/g/collar-para-gatos-rosa-rogz-fancycat-cascabel-mta-11928.jpg" />
    </div>

    <div class="gift">
      <div class="gift__title">Collar para loros</div>
      <img class="gift__image" src="https://labouvet.com/tienda/1672-home_default/collares-protectores-para-aves-tamano-o-80mm.jpg" />
    </div>
  </div>
</body>
</html>

