<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <div class="header-landing">
    <div class="header-landing__title">Gifts Shop</div>
    <div class="header-landing__subtitle">Se acabaron los dolores de cabeza buscando regalos!</div>
  </div>
  <div class="prompt-container">
    <div class="prompt">
      <h3 class="prompt__text">Dale un nombre a tu regalado</h3>
      <%= form_tag({controller: "pages", action: "start"}, method: "post", autocomplete: "off") do |f| %>
        <div><%= text_field_tag :name, "", class: "prompt__input" %></div>
        <div><%= submit_tag "Empezar", class: "prompt__btn" %></div>
      <% end %>
      </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <div class="footer__link">
        <%= link_to "Saltar", pages_home_path %>
      </div>      
    </div>
  </div>
</html>