$user-name-font-color: #fff;
$title-font-color:	#fff;
$subtitle-font-color:	#fff;
$emphasis-word-font-color: #fff;
$product-image-background-color: #979797;
$product-name-font-color: #353434;

$primary-color: #35c6ad;
$promoted-product-color: rgb(235, 214, 30);
$product-color: #dc143c;
$receiver-name-color: #dc143c;
$white: #fff;
$label-color: #16a69e;
$danger-color: #cd5c5c;

$danger-border-color: #f7a5a2f8;
$danger-background-color: #fbe8e8;
$danger-label-color: #771a17fd;

$c-header-background: #4a90e2;
$c-header-background-transparent: rgba(74, 145, 226, .9);
$c-header-foreground: #fff;
$c-header-highlight: #1b5dab;
$box-shadow-header: 0 3px 11px 0 #f5f1fd;

$c-filter-background: #fff;
$c-filter-foreground: #4a90e2;

$button-size: 10px;
$main-font: 'Work Sans';

$m-break: 450px; // mobile
$p-break: 650px; // phablet
$t-break: 1000px; // tablet
$d-break: 1500px; // desktop
$r-break: 2000px; // retina

$m-width-grid: calc(100vw - 30px);
$p-width-grid: 600px;
$t-width-grid: 900px;
$d-width-grid: 1200px;
$r-width-grid: 1700px;

$m-size-image: calc(100vw - 40px);
$p-size-image: 250px;
$t-size-image: 250px;
$d-size-image: 250px;
$r-size-image: 250px;

$m-font-size: 1.6em;
$p-font-size: 1.3em;
$t-font-size: 1.5em;
$d-font-size: 1.7em;
$r-font-size: 1.7em;

$m-size-filter: 100%;
$p-size-filter: 300px;
$t-size-filter: 400px;
$d-size-filter: 400px;
$r-size-filter: 500px;
