$user-font-color: #16a69e;
$title-font-color:	#363535;
$icon-shadow-color: #979797;
$product-image-background-color: #979797;
$product-name-font-color: #353434;
$break-tablet: 450px;
$break-desktop: 1200px;
