@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
$primary-color: #35c6ad;
$promoted-product-color: rgb(235, 214, 30);
$product-color: #dc143c;
$receiver-name-color: #dc143c;
$white: #fff;
$label-color: #949494;
$danger-color: #c53350;

$button-size: 10px;
$main-font: 'Work Sans';

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 1%;

  &__link {
    margin-top: 1%;
  }
}

.btn {
  text-align: center;
  background-color: $primary_color;
  text-decoration: none;
}
