@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
$primary-color: #35c6ad;
$promoted-product-color: rgb(235, 214, 30);
$product-color: #dc143c;
$receiver-name-color: #dc143c;
$white: #fff;
$label-color: #949494;

$danger-color: #cd5c5c;


$danger-border-color: #f7a5a2f8;
$danger-background-color: #fbe8e8;
$danger-label-color: #771a17fd;

$button-size: 10px;
$main-font: 'Work Sans';

body {
  margin: 0;
}

.header {
  display: flex;
  margin: 1%;
}

.header__links {
  display: flex;
  margin-top: 1%;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.btn {
  text-align: center;
  background-color: $primary_color;
  text-decoration: none;
}
