
$primary-color: #00a9e0;

.header {
  &__title {
    color: $primary-color;
    font-size: 40px;
    padding-left: 30px;
  }

  &__subtitle {
    padding-top: 10px;
    font-size: 12px;
  }

  &__selector {
    padding-left: 10px;
  }

  &__receiver_name {
    color: red;
  }
}

.header-container {
  display: flex;
  justify-content: flex-start;
}

.gifts-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 30px;
}

.gift {
  height: 200px;
  width: 200px;
  flex: 1 0 21%;
  margin-bottom: 130px;

  &__title {
    font-size: 20px;
  }

  &__store {
    font-size: 15px;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
  }

  &__image {
    width: 200px;
    height: 200px;
    border: 5px solid red;
  }

  &__like {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    display: none;

    &:hover {
      display: block;
    }
  }

  &-promoted {
    border: 10px solid blueviolet;
    font-weight: bold;
  }
}
