<div class="header">
  <div class="header__link">
    <%= link_to "Buscar regalos", home_show_path %>
  </div>
</div>
<div class=action-container>
  <div class="login">
  </div>
  <div class="register">
    <div class="register__link">
      <%= link_to "Registrarse", '' %>
    </div>
  </div>
</div>