<h1 class="form-title">Editar producto</h1>
<% if @product.image.attached? %>
  <new-product-form
    :product="<%= @product.attributes.merge(image_url: url_for(@product.image)).to_json %>"
  />
<% else %>
  <new-product-form
    :product="<%= @product.attributes.to_json %>"
  />
<% end %>
