<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <head>
    <%= render partial: '/common/tag_manager_head' %>
    <%= render 'layouts/shared/head' %>
  </head>

  <body>
    <%= render partial: '/common/tag_manager' %>
    <%= yield %>
  </body>
</html>
